body{
	background-image: url("/img/campo.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
}
.table-responsive{
	margin: auto;
	width: 900px;
	background-color: white;
}
.imagen{
	text-align: center;
}
.navbar .nav {
			margin: 0;
			display: table;
			width: 100%;
		  }
		  .navbar .nav li {
			display: table-cell;
			width: 1%;
			float: none;
			font-weight: bolder;
			font-size: 25px;
		  }
.tab-pane{
	color: black;
	margin: auto;
}
#cabecera{
	background-color: green;
}
.form-horizontal{
	width: 300px;
	margin: auto;
}
#formulario{
	margin: auto;
	display: table;
	font-weight: bolder;
	color: black;
	text-align: center;
	font-size: 15px;
}
div {
  margin: .4em 0;
}
div label {
  width: 50%;
  float: left;
}
#footer{
    margin-top: 5em;
    background-color: white;
}
#pag{
	text-align: center;
}
#posiciones {
	display: table;
	width: 500px;
	margin: auto;
}
#posiciones .puestos th{
	display: table-cell;
	width: 500px;
	color: black;
	text-align: center;
}